asgiref==3.11.1
colorama==0.4.6
Django==5.1
django-anymail==15.0
django-jazzmin==3.0.5
dj-database-url==2.2.0
gunicorn==21.2.0
pillow==12.2.0
psycopg[binary]==3.3.4
PyOTP==2.10.0
python-decouple==3.8
qrcode==8.2
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.7.0